<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<!-- 전체 조회 -->
	<select id="getUsers" resultType="user" parameterType="userSearch">
	SELECT * FROM ( SELECT U.*, ROWNUM RN FROM (
		SELECT * FROM USERS
		<where>
			<if test="ids != null">
				ID IN
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
			<if test="searchCondition == 'id'">
				AND ID LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'name'">
				AND NAME LIKE '%' || #{searchKeyword} || '%'		
			</if>
			<if test="role != null and role != ''">
				AND ROLE = #{role}
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="sort != null and sort != ''">
				#{sort}
			</when>
			<otherwise>
				ID
			</otherwise>
		</choose>
	) U ) A WHERE RN BETWEEN #{start} and #{end}
	</select>
	
	<select id="getCnt" resultType="int" parameterType="userSearch">
		SELECT COUNT(*)
			FROM USERS
		<where>
			<if test="ids != null">
				ID IN
				<foreach collection="ids" open="(" close=")" separator="," item="item">
					#{item}
				</foreach>
			</if>
			<if test="searchCondition == 'id'">
				AND ID LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'name'">
				AND NAME LIKE '%' || #{searchKeyword} || '%'		
			</if>
		</where>
	</select>
	
	<!-- 단건 조회 -->
	<select id="getUser" parameterType="user" resultType="user">
		SELECT * FROM USERS
			WHERE ID = #{id}
	</select>
	
	<!-- 등록 -->
	<insert id="insertUser" parameterType="user">
		INSERT INTO USERS (ID, PASSWORD, NAME, ROLE)
			VALUES (#{id}, #{password}, #{name}, #{role})
	</insert>
	
	<!-- 수정 -->
	<update id="updateUser" parameterType="user">
		UPDATE USERS SET PASSWORD = #{password},
						 NAME = #{name},
						 ROLE = #{role}
			WHERE ID = #{id}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteUser" parameterType="user">
		DELETE FROM USERS WHERE ID = #{id}
	</delete>
	
</mapper> 